In [1]:
import pandas as pd
from geopy import distance
YONGE_LOCS_MIDDLE_POINT = (43.693963, -79.395695)

If loc lat > loc middle point lat, loc is north of point (+)
If loc lat < loc middle point lat, loc is south of point (-)

In [2]:
df = pd.read_csv("../../csv/v2/030_yonge_count_processed.csv.zip")
df.head(3)

,_id,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week
0,1,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 07:45:00,207,3.710382,7,45,2
1,2,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:00:00,187,3.710382,8,0,2
2,3,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:15:00,218,3.710382,8,15,2

In [3]:
len(df)

123075

In [4]:
df.sort_values(by="time_end", inplace=True)
df

,_id,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week
0,1,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 07:45:00,207,3.710382,7,45,2
1,2,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:00:00,187,3.710382,8,0,2
2,3,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:15:00,218,3.710382,8,15,2
3,4,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:30:00,260,3.710382,8,30,2
4,5,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:45:00,232,3.710382,8,45,2
...,...,...,...,...,...,...,...,...,...,...
120606,120607,ISABELLA ST AT JARVIS ST (PX 12),-79.379452,43.668893,2022-12-17 17:00:00,488,2.453846,17,0,5
120607,120608,ISABELLA ST AT JARVIS ST (PX 12),-79.379452,43.668893,2022-12-17 17:15:00,474,2.453846,17,15,5
120608,120609,ISABELLA ST AT JARVIS ST (PX 12),-79.379452,43.668893,2022-12-17 17:30:00,471,2.453846,17,30,5
120609,120610,ISABELLA ST AT JARVIS ST (PX 12),-79.379452,43.668893,2022-12-17 17:45:00,480,2.453846,17,45,5
120610,120611,ISABELLA ST AT JARVIS ST (PX 12),-79.379452,43.668893,2022-12-17 18:00:00,432,2.453846,18,0,5

# Expand datetime_bin

In [5]:
df["time_end"] = pd.to_datetime(df["time_end"],utc=True)
df["year"] = df["time_end"].dt.year
df["month"] = df["time_end"].dt.month_name()
df["day"] = df["time_end"].dt.day
df["day_of_week"] = df["time_end"].dt.day_name()
df.head(3)

,_id,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week
0,1,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 07:45:00+00:00,207,3.710382,7,45,2,2020,January,8,Wednesday
1,2,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:00:00+00:00,187,3.710382,8,0,2,2020,January,8,Wednesday
2,3,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:15:00+00:00,218,3.710382,8,15,2,2020,January,8,Wednesday

# Filter df to have only Yonge St related data

In [6]:
df = df[df["location"].str.contains("YONGE ST")]
df

,_id,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week
25411,25412,THE ESPLANADE AT YONGE ST (PX 2345),-79.376503,43.645783,2020-01-16 07:45:00+00:00,344,0.127365,7,45,3,2020,January,16,Thursday
25059,25060,FRONT ST AT YONGE ST (PX 29),-79.376974,43.646884,2020-01-16 07:45:00+00:00,416,0.001789,7,45,3,2020,January,16,Thursday
24707,24708,WELLINGTON ST AT YONGE ST (PX 30),-79.377370,43.647846,2020-01-16 07:45:00+00:00,489,0.112289,7,45,3,2020,January,16,Thursday
25060,25061,FRONT ST AT YONGE ST (PX 29),-79.376974,43.646884,2020-01-16 08:00:00+00:00,415,0.001789,8,0,3,2020,January,16,Thursday
24708,24709,WELLINGTON ST AT YONGE ST (PX 30),-79.377370,43.647846,2020-01-16 08:00:00+00:00,524,0.112289,8,0,3,2020,January,16,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116258,116259,ROSEHILL AVE AT YONGE ST,-79.393332,43.686233,2022-10-12 18:00:00+00:00,305,4.567312,18,0,2,2022,October,12,Wednesday
115106,115107,HEATH ST W AT YONGE ST (PX 1291),-79.394936,43.690199,2022-10-12 18:00:00+00:00,393,5.026580,18,0,2,2022,October,12,Wednesday
115682,115683,YONGE ST AT CHAPLIN CRES & DAVISVILLE AVE (PX 47),-79.396642,43.698301,2022-10-12 18:00:00+00:00,509,5.929528,18,0,2,2022,October,12,Wednesday
114786,114787,YONGE ST AT YORKVILLE AVE (PX 2377),-79.387503,43.671923,2022-10-12 18:00:00+00:00,264,2.909459,18,0,2,2022,October,12,Wednesday
114722,114723,CHARLES ST E AT YONGE ST,-79.386113,43.668631,2022-10-12 18:00:00+00:00,261,2.526891,18,0,2,2022,October,12,Wednesday

# Understand categorical features

## Detector location

In [7]:
len(df["location"].drop_duplicates())

57

In [8]:
df["location"].value_counts()

location
YONGE ST AT CHAPLIN CRES & DAVISVILLE AVE (PX 47)           704
BLOOR ST AT YONGE ST (PX 40)                                672
ST CLAIR AVE AT YONGE ST (PX 46)                            672
YONGE ST AT CHURCH ST & DAVENPORT RD (PX 41)                416
ROXBOROUGH ST W AT YONGE ST (PX 2306)                       384
BELSIZE DR AT YONGE ST (PX 1410)                            320
HEATH ST W AT YONGE ST (PX 1291)                            320
SCRIVENER SQ AT YONGE ST                                    288
CRESCENT RD AT YONGE ST                                     288
YONGE ST AT AYLMER AVE & BELMONT ST (PX 42)                 288
YONGE ST AT YORKVILLE AVE (PX 2377)                         288
YONGE ST AT SHAFTESBURY AVE (PX 45)                         288
ROSEHILL AVE AT YONGE ST                                    288
MERTON ST AT YONGE ST                                       288
YONGE ST AT MACPHERSON AVE & ROWANWOOD AVE (PX 44)          288
WOODLAWN AVE AT YONGE ST                                    288
YONGE ST AT FARNHAM AVE & JACKES AVE                        288
CHARLES ST E AT YONGE ST                                    256
CARLTON ST AT COLLEGE ST & YONGE ST (PX 38)                 128
FRONT ST AT YONGE ST (PX 29)                                128
WELLESLEY ST AT YONGE ST (PX 39)                            128
LAWRENCE AVE AT YONGE ST (PX 55)                             96
DUNDAS ST AT YONGE ST (PX 36)                                64
THE ESPLANADE AT YONGE ST (PX 2345)                          64
CUMMER AVE AT DREWRY AVE & YONGE ST (PX 129)                 64
WELLINGTON ST AT YONGE ST (PX 30)                            64
BROADWAY AVE & MONTGOMERY AVE AT YONGE ST (PX 50)            64
YONGE ST AT KEEWATIN AVE                                     32
YONGE ST AT ERSKINE AVE & ROSELAWN AVE                       32
MCGLASHAN RD AT YONGE ST                                     32
BALMORAL AVE AT YONGE ST                                     32
DELISLE AVE AT YONGE ST                                      32
PLEASANT BLVD AT YONGE ST                                    32
YONGE ST AT ORCHARD VIEW BLVD & ROEHAMPTON AVE (PX 2144)     32
YONGE ST AT ALCORN AVE                                       32
YONGE ST AT WALKER AVE                                       32
SUMMERHILL AVE AT YONGE ST                                   32
MARLBOROUGH AVE AT PRICE ST & YONGE ST                       32
BIRCH AVE AT YONGE ST                                        32
GLEN ELM AVE AT YONGE ST                                     32
LAWTON BLVD AT YONGE ST                                      32
GRENVILLE ST & WOOD ST AT YONGE ST                           32
YONGE ST AT SOUDAN AVE & BERWICK AVE (PX 1375)               32
YONGE ST AT MOUNT PLEASANT CEMETERY ENTRANCE                 32
HEATH ST E AT YONGE ST (PX 1291)                             32
IMPERIAL ST AT YONGE ST                                      32
WANLESS AVE AT YONGE ST                                      32
YONGE ST AT BLYTHWOOD RD & LYTTON BLVD (PX 52)               32
LYMPSTONE AVE AT YONGE ST                                    32
YONGE ST AT CHATSWORTH DR & ST EDMUNDS DR (PX 54)            32
CONNAUGHT AVE AT YONGE ST                                    32
WEDGEWOOD DR AT YONGE ST                                     32
GOULDING AVE AT YONGE ST                                     32
YONGE ST AT CENTRE AVE                                       32
YONGE ST AT GARDINER EXPY W/B OFF-RAMP                       32
ROXBOROUGH ST E AT YONGE ST                                  32
ELLERSLIE AVE AT NORTON AVE & YONGE ST                       32
Name: count, dtype: int64

# Understanding numerical features

## _id
- Just a numerical field telling which reading this is
    - can be dropped

In [9]:
df.drop("_id",inplace=True,axis=1)
df.head()

/tmp/ipykernel_11061/3222465546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("_id",inplace=True,axis=1)

,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week
25411,THE ESPLANADE AT YONGE ST (PX 2345),-79.376503,43.645783,2020-01-16 07:45:00+00:00,344,0.127365,7,45,3,2020,January,16,Thursday
25059,FRONT ST AT YONGE ST (PX 29),-79.376974,43.646884,2020-01-16 07:45:00+00:00,416,0.001789,7,45,3,2020,January,16,Thursday
24707,WELLINGTON ST AT YONGE ST (PX 30),-79.377370,43.647846,2020-01-16 07:45:00+00:00,489,0.112289,7,45,3,2020,January,16,Thursday
25060,FRONT ST AT YONGE ST (PX 29),-79.376974,43.646884,2020-01-16 08:00:00+00:00,415,0.001789,8,0,3,2020,January,16,Thursday
24708,WELLINGTON ST AT YONGE ST (PX 30),-79.377370,43.647846,2020-01-16 08:00:00+00:00,524,0.112289,8,0,3,2020,January,16,Thursday

## Latitude and longitude
- These attributes will be useful
    - By determining the distance from a middle point
    - Create two new cols telling whether the point is north or south from the middle point

In [10]:
def calculate_distance(coord):
    return distance.distance(YONGE_LOCS_MIDDLE_POINT,coord).km

df["dist_from_mid_point"] = df.apply(lambda x: calculate_distance((x["lat"],x["lng"])),axis=1)
df.head(3)

/tmp/ipykernel_11061/4154765296.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["dist_from_mid_point"] = df.apply(lambda x: calculate_distance((x["lat"],x["lng"])),axis=1)

,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week,dist_from_mid_point
25411,THE ESPLANADE AT YONGE ST (PX 2345),-79.376503,43.645783,2020-01-16 07:45:00+00:00,344,0.127365,7,45,3,2020,January,16,Thursday,5.572360
25059,FRONT ST AT YONGE ST (PX 29),-79.376974,43.646884,2020-01-16 07:45:00+00:00,416,0.001789,7,45,3,2020,January,16,Thursday,5.444293
24707,WELLINGTON ST AT YONGE ST (PX 30),-79.377370,43.647846,2020-01-16 07:45:00+00:00,489,0.112289,7,45,3,2020,January,16,Thursday,5.332742

In [11]:
df["is_north_from_mid_point"] = df.apply(lambda x: 1 if x["lat"] > YONGE_LOCS_MIDDLE_POINT[0] else 0,axis=1)
df.head(3)

/tmp/ipykernel_11061/671117641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["is_north_from_mid_point"] = df.apply(lambda x: 1 if x["lat"] > YONGE_LOCS_MIDDLE_POINT[0] else 0,axis=1)

,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week,dist_from_mid_point,is_north_from_mid_point
25411,THE ESPLANADE AT YONGE ST (PX 2345),-79.376503,43.645783,2020-01-16 07:45:00+00:00,344,0.127365,7,45,3,2020,January,16,Thursday,5.572360,0
25059,FRONT ST AT YONGE ST (PX 29),-79.376974,43.646884,2020-01-16 07:45:00+00:00,416,0.001789,7,45,3,2020,January,16,Thursday,5.444293,0
24707,WELLINGTON ST AT YONGE ST (PX 30),-79.377370,43.647846,2020-01-16 07:45:00+00:00,489,0.112289,7,45,3,2020,January,16,Thursday,5.332742,0

- Now I can drop lat and lng because they were already used to calculate the distance from the middle point

In [12]:
df = df.drop(["lat","lng"],axis=1)
df.head(3)

,location,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week,dist_from_mid_point,is_north_from_mid_point
25411,THE ESPLANADE AT YONGE ST (PX 2345),2020-01-16 07:45:00+00:00,344,0.127365,7,45,3,2020,January,16,Thursday,5.572360,0
25059,FRONT ST AT YONGE ST (PX 29),2020-01-16 07:45:00+00:00,416,0.001789,7,45,3,2020,January,16,Thursday,5.444293,0
24707,WELLINGTON ST AT YONGE ST (PX 30),2020-01-16 07:45:00+00:00,489,0.112289,7,45,3,2020,January,16,Thursday,5.332742,0

- Can also drop distance_from_point

In [13]:
df.drop("distance_from_point",inplace=True,axis=1)
df.head(3)

,location,time_end,total_count,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week,dist_from_mid_point,is_north_from_mid_point
25411,THE ESPLANADE AT YONGE ST (PX 2345),2020-01-16 07:45:00+00:00,344,7,45,3,2020,January,16,Thursday,5.572360,0
25059,FRONT ST AT YONGE ST (PX 29),2020-01-16 07:45:00+00:00,416,7,45,3,2020,January,16,Thursday,5.444293,0
24707,WELLINGTON ST AT YONGE ST (PX 30),2020-01-16 07:45:00+00:00,489,7,45,3,2020,January,16,Thursday,5.332742,0

## Date and time columns
- Drop year beacause data is seasonal
- Drop end_day_of_week because will onehot encode day of week name

In [14]:
df = df.drop(["year","end_day_of_week"],axis=1)
df.head(3)

,location,time_end,total_count,end_hour,end_minute,month,day,day_of_week,dist_from_mid_point,is_north_from_mid_point
25411,THE ESPLANADE AT YONGE ST (PX 2345),2020-01-16 07:45:00+00:00,344,7,45,January,16,Thursday,5.572360,0
25059,FRONT ST AT YONGE ST (PX 29),2020-01-16 07:45:00+00:00,416,7,45,January,16,Thursday,5.444293,0
24707,WELLINGTON ST AT YONGE ST (PX 30),2020-01-16 07:45:00+00:00,489,7,45,January,16,Thursday,5.332742,0

# Rename a few columns

In [15]:
df.rename(columns={
    "time_end":"time",
    "end_hour":"hour",
    "end_minute":"minute",
    "end_day_of_week":"day_of_week",
},inplace=True)

df.head(3)

,location,time,total_count,hour,minute,month,day,day_of_week,dist_from_mid_point,is_north_from_mid_point
25411,THE ESPLANADE AT YONGE ST (PX 2345),2020-01-16 07:45:00+00:00,344,7,45,January,16,Thursday,5.572360,0
25059,FRONT ST AT YONGE ST (PX 29),2020-01-16 07:45:00+00:00,416,7,45,January,16,Thursday,5.444293,0
24707,WELLINGTON ST AT YONGE ST (PX 30),2020-01-16 07:45:00+00:00,489,7,45,January,16,Thursday,5.332742,0

In [16]:
min_vol = df["total_count"].min()
max_vol = df["total_count"].max()
mean_vol = df["total_count"].mean()
median_vol = df["total_count"].median()
variance = df["total_count"].var()
std_dev = df["total_count"].std()

print(
    f"Min volume:    {min_vol}\n"
    f"Max volume:    {max_vol}\n"
    f"Mean volume:   {mean_vol}\n"
    f"Median volume: {median_vol}\n"
    f"Variance:     {variance}\n"
    f"Std dev:      {std_dev}"
)

Min volume:    67
Max volume:    1088
Mean volume:   331.3797709923664
Median volume: 300.0
Variance:     15040.23247156869
Std dev:      122.63862552869993

# What are the features and target of this dataset?
- Target: total_count
- Features: location, time, hour, end_minute, day_of_week, month, day, day_of_week_name, hour, minute, dist_from_mid_point, is_north_from_mid_point

In [15]:
df.to_csv("./data/yonge_count.csv.zip",index=False, compression="zip")