In [70]:
import pandas as pd
import os

csv_path="../national_collision_database"

In [71]:
os.listdir(csv_path)

['data_dictionary.pdf',
 'test99_to_2019_dataset_en.csv',
 'test_2019_dataset_en.csv',
 '.~lock.test_2019_dataset_en.csv#']

In [72]:
df = pd.read_csv(f"{csv_path}/test_2019_dataset_en.csv", low_memory=False)
print(len(df))

272301

In [73]:
# filter off lines where C_MNTH = UU
df = df.query("C_MNTH != 'UU'")

# filter off lines where C_WDAY = U
df = df.query("C_WDAY != 'U'")

# filter off lines where C_HOUR = UU
df = df.query("C_HOUR != 'UU'")

# filter off lines where C_CONF = QQ and C_CONF = UU
df = df.query("C_CONF != 'QQ' | C_CONF == 'UU'")

# filter off lines where C_RCFG = QQ and C_RCFG = UU
df = df.query("C_RCFG != 'QQ' | C_RCFG == 'UU'")

# filter off lines where C_WTHR = QQ and C_WTHR = UU
df = df.query("C_WTHR != 'Q' | C_WTHR == 'U'")

# filter off lines where C_RSUR = QQ and C_RSUR = UU
df = df.query("C_RSUR != 'Q' | C_RSUR == 'U'")

# filter off lines where C_RALN = QQ and C_RALN = UU
df = df.query("C_RALN != 'Q' | C_RALN == 'U'")

# filter off lines where C_TRAF = QQ and C_TRAF = UU
df = df.query("C_TRAF != 'QQ' | C_TRAF == 'UU'")

# filter off lines where V_ID = UU
df = df.query("V_ID != 'UU'")

# filter off lines where V_TYPE = QQ and V_TYPE = UU
df = df.query("V_TYPE != 'QQ' | V_TYPE != 'UU'")

# filter off lines where V_YEAR = UUUU
df = df.query("V_YEAR != 'UUUU'")

# filter off lines where P_ID = UU
df = df.query("P_ID != 'UU'")

# filter off lines where P_SEX = U
df = df.query("P_SEX != 'U'")

# filter off lines where P_AGE = UU
df = df.query("P_AGE != 'UU'")

# filter off lines where P_PSN = QQ and P_PSN = UU
df = df.query("P_PSN != 'QQ' | P_PSN != 'UU'")

# filter off lines where P_ISEV = U
df = df.query("P_ISEV != 'U'")

# filter off lines where P_SAFE = QQ and P_SAFE = UU
df = df.query("P_SAFE != 'QQ' | P_SAFE != 'UU'")

# filter off lines where P_USER = U
df = df.query("P_USER != 'U'")
print(len(df))

204258

In [74]:
df

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,...,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER,C_CASE
2,2019,1,1,11,2,2,32,1,1,5,...,1,2010,1,F,30,11,2,2,1,2681651
4,2019,1,1,16,2,2,32,1,2,5,...,1,2007,1,F,27,11,2,2,1,2681652
5,2019,1,1,16,2,2,32,1,2,5,...,1,2007,2,F,5,33,1,2,2,2681652
6,2019,1,1,16,2,2,32,1,2,5,...,1,2009,1,M,18,11,2,2,1,2681652
7,2019,1,1,20,2,1,4,1,2,2,...,1,2011,1,M,38,11,2,2,1,2681656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272293,2019,12,7,23,2,2,35,2,2,2,...,1,2016,2,M,38,12,2,2,2,2786714
272294,2019,12,7,23,2,2,35,2,2,2,...,1,2011,1,M,30,11,2,2,1,2786714
272295,2019,12,7,17,2,2,35,2,1,1,...,1,2009,1,F,16,11,2,2,1,2787339
272296,2019,12,7,17,2,2,35,2,1,1,...,1,2009,2,F,16,13,2,2,2,2787339
272297,2019,12,7,17,2,2,35,2,1,1,...,1,2005,1,M,81,11,1,2,1,2787339