In [1]:
import pandas as pd
from geopy import distance
YONGE_LOCS_MIDDLE_POINT = (43.693963, -79.395695)

If loc lat > loc middle point lat, loc is north of point (+)
If loc lat < loc middle point lat, loc is south of point (-)

In [2]:
df = pd.read_csv("../../csv/v2/030_yonge_count_processed.csv.zip")
df.head(3)

,_id,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week
0,1,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 07:45:00,207,3.710382,7,45,2
1,2,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:00:00,187,3.710382,8,0,2
2,3,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:15:00,218,3.710382,8,15,2

In [3]:
len(df)

123075

# Expand datetime_bin

In [4]:
df["time_end"] = pd.to_datetime(df["time_end"],utc=True)
df["year"] = df["time_end"].dt.year
df["month"] = df["time_end"].dt.month_name()
df["day"] = df["time_end"].dt.day
df["day_of_week"] = df["time_end"].dt.day_name()
df.head(3)

,_id,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week
0,1,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 07:45:00+00:00,207,3.710382,7,45,2,2020,January,8,Wednesday
1,2,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:00:00+00:00,187,3.710382,8,0,2,2020,January,8,Wednesday
2,3,BROADVIEW AVE AT ERINDALE AVE,-79.358652,43.677521,2020-01-08 08:15:00+00:00,218,3.710382,8,15,2,2020,January,8,Wednesday

# Filter df to have only Yonge St related data

In [5]:
df = df[df["location"].str.contains("YONGE ST")]
df.head()

,_id,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week
17379,17380,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 07:45:00+00:00,984,8.925755,7,45,1,2020,March,3,Tuesday
17380,17381,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:00:00+00:00,1046,8.925755,8,0,1,2020,March,3,Tuesday
17381,17382,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:15:00+00:00,1034,8.925755,8,15,1,2020,March,3,Tuesday
17382,17383,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:30:00+00:00,1032,8.925755,8,30,1,2020,March,3,Tuesday
17383,17384,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:45:00+00:00,934,8.925755,8,45,1,2020,March,3,Tuesday

# Understand categorical features

## Detector location

In [6]:
len(df["location"].drop_duplicates())

57

In [7]:
df["location"].value_counts()

YONGE ST AT CHAPLIN CRES & DAVISVILLE AVE (PX 47)           704
ST CLAIR AVE AT YONGE ST (PX 46)                            672
BLOOR ST AT YONGE ST (PX 40)                                672
YONGE ST AT CHURCH ST & DAVENPORT RD (PX 41)                416
ROXBOROUGH ST W AT YONGE ST (PX 2306)                       384
BELSIZE DR AT YONGE ST (PX 1410)                            320
HEATH ST W AT YONGE ST (PX 1291)                            320
YONGE ST AT MACPHERSON AVE & ROWANWOOD AVE (PX 44)          288
YONGE ST AT YORKVILLE AVE (PX 2377)                         288
SCRIVENER SQ AT YONGE ST                                    288
CRESCENT RD AT YONGE ST                                     288
YONGE ST AT AYLMER AVE & BELMONT ST (PX 42)                 288
WOODLAWN AVE AT YONGE ST                                    288
YONGE ST AT SHAFTESBURY AVE (PX 45)                         288
ROSEHILL AVE AT YONGE ST                                    288
MERTON ST AT YONGE ST                                       288
YONGE ST AT FARNHAM AVE & JACKES AVE                        288
CHARLES ST E AT YONGE ST                                    256
CARLTON ST AT COLLEGE ST & YONGE ST (PX 38)                 128
WELLESLEY ST AT YONGE ST (PX 39)                            128
FRONT ST AT YONGE ST (PX 29)                                128
LAWRENCE AVE AT YONGE ST (PX 55)                             96
BROADWAY AVE & MONTGOMERY AVE AT YONGE ST (PX 50)            64
WELLINGTON ST AT YONGE ST (PX 30)                            64
DUNDAS ST AT YONGE ST (PX 36)                                64
CUMMER AVE AT DREWRY AVE & YONGE ST (PX 129)                 64
THE ESPLANADE AT YONGE ST (PX 2345)                          64
GLEN ELM AVE AT YONGE ST                                     32
SUMMERHILL AVE AT YONGE ST                                   32
GOULDING AVE AT YONGE ST                                     32
MARLBOROUGH AVE AT PRICE ST & YONGE ST                       32
BIRCH AVE AT YONGE ST                                        32
YONGE ST AT ALCORN AVE                                       32
YONGE ST AT WALKER AVE                                       32
DELISLE AVE AT YONGE ST                                      32
MCGLASHAN RD AT YONGE ST                                     32
PLEASANT BLVD AT YONGE ST                                    32
BALMORAL AVE AT YONGE ST                                     32
LAWTON BLVD AT YONGE ST                                      32
IMPERIAL ST AT YONGE ST                                      32
GRENVILLE ST & WOOD ST AT YONGE ST                           32
YONGE ST AT CENTRE AVE                                       32
YONGE ST AT ORCHARD VIEW BLVD & ROEHAMPTON AVE (PX 2144)     32
YONGE ST AT SOUDAN AVE & BERWICK AVE (PX 1375)               32
YONGE ST AT KEEWATIN AVE                                     32
YONGE ST AT ERSKINE AVE & ROSELAWN AVE                       32
YONGE ST AT GARDINER EXPY W/B OFF-RAMP                       32
ROXBOROUGH ST E AT YONGE ST                                  32
CONNAUGHT AVE AT YONGE ST                                    32
YONGE ST AT CHATSWORTH DR & ST EDMUNDS DR (PX 54)            32
WEDGEWOOD DR AT YONGE ST                                     32
HEATH ST E AT YONGE ST (PX 1291)                             32
YONGE ST AT MOUNT PLEASANT CEMETERY ENTRANCE                 32
WANLESS AVE AT YONGE ST                                      32
YONGE ST AT BLYTHWOOD RD & LYTTON BLVD (PX 52)               32
LYMPSTONE AVE AT YONGE ST                                    32
ELLERSLIE AVE AT NORTON AVE & YONGE ST                       32
Name: location, dtype: int64

# Understanding numerical features

## _id
- Just a numerical field telling which reading this is
    - can be dropped

In [8]:
df.drop("_id",inplace=True,axis=1)
df.head()

,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week
17379,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 07:45:00+00:00,984,8.925755,7,45,1,2020,March,3,Tuesday
17380,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:00:00+00:00,1046,8.925755,8,0,1,2020,March,3,Tuesday
17381,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:15:00+00:00,1034,8.925755,8,15,1,2020,March,3,Tuesday
17382,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:30:00+00:00,1032,8.925755,8,30,1,2020,March,3,Tuesday
17383,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:45:00+00:00,934,8.925755,8,45,1,2020,March,3,Tuesday

## Latitude and longitude
- These attributes will be useful
    - By determining the distance from a middle point
    - Create two new cols telling whether the point is north or south from the middle point

In [9]:
def calculate_distance(coord):
    return distance.distance(YONGE_LOCS_MIDDLE_POINT,coord).km

df["dist_from_mid_point"] = df.apply(lambda x: calculate_distance((x["lat"],x["lng"])),axis=1)
df.head(3)

,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week,dist_from_mid_point
17379,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 07:45:00+00:00,984,8.925755,7,45,1,2020,March,3,Tuesday,3.499076
17380,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:00:00+00:00,1046,8.925755,8,0,1,2020,March,3,Tuesday,3.499076
17381,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:15:00+00:00,1034,8.925755,8,15,1,2020,March,3,Tuesday,3.499076

In [10]:
df["is_north_from_mid_point"] = df.apply(lambda x: 1 if x["lat"] > YONGE_LOCS_MIDDLE_POINT[0] else 0,axis=1)
df.head(3)

,location,lng,lat,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week,dist_from_mid_point,is_north_from_mid_point
17379,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 07:45:00+00:00,984,8.925755,7,45,1,2020,March,3,Tuesday,3.499076,1
17380,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:00:00+00:00,1046,8.925755,8,0,1,2020,March,3,Tuesday,3.499076,1
17381,LAWRENCE AVE AT YONGE ST (PX 55),-79.402195,43.725101,2020-03-03 08:15:00+00:00,1034,8.925755,8,15,1,2020,March,3,Tuesday,3.499076,1

- Now I can drop lat and lng because they were already used to calculate the distance from the middle point

In [11]:
df = df.drop(["lat","lng"],axis=1)
df.head(3)

,location,time_end,total_count,distance_from_point,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week,dist_from_mid_point,is_north_from_mid_point
17379,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 07:45:00+00:00,984,8.925755,7,45,1,2020,March,3,Tuesday,3.499076,1
17380,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 08:00:00+00:00,1046,8.925755,8,0,1,2020,March,3,Tuesday,3.499076,1
17381,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 08:15:00+00:00,1034,8.925755,8,15,1,2020,March,3,Tuesday,3.499076,1

- Can also drop distance_from_point

In [12]:
df.drop("distance_from_point",inplace=True,axis=1)
df.head(3)

,location,time_end,total_count,end_hour,end_minute,end_day_of_week,year,month,day,day_of_week,dist_from_mid_point,is_north_from_mid_point
17379,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 07:45:00+00:00,984,7,45,1,2020,March,3,Tuesday,3.499076,1
17380,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 08:00:00+00:00,1046,8,0,1,2020,March,3,Tuesday,3.499076,1
17381,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 08:15:00+00:00,1034,8,15,1,2020,March,3,Tuesday,3.499076,1

## Date and time columns
- Drop year beacause data is seasonal
- Drop end_day_of_week because will onehot encode day of week name

In [13]:
df = df.drop(["year","end_day_of_week"],axis=1)
df.head(3)

,location,time_end,total_count,end_hour,end_minute,month,day,day_of_week,dist_from_mid_point,is_north_from_mid_point
17379,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 07:45:00+00:00,984,7,45,March,3,Tuesday,3.499076,1
17380,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 08:00:00+00:00,1046,8,0,March,3,Tuesday,3.499076,1
17381,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 08:15:00+00:00,1034,8,15,March,3,Tuesday,3.499076,1

# Rename a few columns

In [14]:
df.rename(columns={
    "time_end":"time",
    "end_hour":"hour",
    "end_minute":"minute",
    "end_day_of_week":"day_of_week",
},inplace=True)

df.head(3)

,location,time,total_count,hour,minute,month,day,day_of_week,dist_from_mid_point,is_north_from_mid_point
17379,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 07:45:00+00:00,984,7,45,March,3,Tuesday,3.499076,1
17380,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 08:00:00+00:00,1046,8,0,March,3,Tuesday,3.499076,1
17381,LAWRENCE AVE AT YONGE ST (PX 55),2020-03-03 08:15:00+00:00,1034,8,15,March,3,Tuesday,3.499076,1

# What are the features and target of this dataset?
- Target: total_count
- Features: location, time, hour, end_minute, day_of_week, month, day, day_of_week_name, hour, minute, dist_from_mid_point, is_north_from_mid_point

In [15]:
df.to_csv("./data/yonge_count.csv.zip",index=False, compression="zip")